/* ============================= */
/* General page styles */
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif
}


/* ============================= */
/* THIS IS FOR THE TABS AT THE TOP */
.topnav {
  background-color: #0F52BA;   /* FBLA blue */
  overflow: hidden;
  display: flex;               /* flex layout for logo + links */
  align-items: center;         /* vertically center contents */
  height: 50px;                /* navbar height */
  padding: 0 10px;             /* horizontal padding */
}

/* ============================= */
/* THIS IS ALSO TABS AT THE TOP */
.topnav a.logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 15px;
}

/* Logo image */
.topnav a.logo img {
  max-height: 100%;
  width: auto;
  display: block;
}

/* ============================= */
/* THIS IS ALSO TAB AT HTE TOP */
.topnav a {
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  align-items: center;
}

/* Make sure unvisited/visited links stay white */
.topnav a:link,
.topnav a:visited {
  color: #FFFFFF;
}

/*this is so when hover over tab it turns black */
.topnav a:hover {
  background-color: #000000;
  color: #FFFFFF;
}


/* ============================= */
/* Tab content */
.tabcontent {
  display: none;
  padding: 20px;
  background-color: #1C2951;
}

/* Active tab link styling */
.tablink.active {
  background-color: #5a86c3;
  color: white;
}

/* ============================= */
/* Profile page */
.profile-header {
  color: white;
  padding-left: 500px;   /* small shift right */
  margin-top: 30px;     /* moves section down from top */
  font-weight: bold;    /* makes text bold */
}

.profile-info {
  color: white;
  padding-left: 40px;   /* aligns with headers */
  margin-top: 10px;     /* space between lines */
}
/* ============================= */
/* Mobile adjustments */
@media (max-width: 400px) {
  .topnav {
    height: 45px;
    padding: 0 5px;
  }

  .topnav a {
    font-size: 14px;
    padding: 10px 8px;
  }

  .topnav a.logo img {
    max-height: 90%;
  }
}
