/* Base styles */
.topnav a {
    float: left;
    color: #FFFFFF;           /* white text */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Unvisited / visited links */
.topnav a:link, 
.topnav a:visited {
    color: #FFFFFF;           /* white text */
}



/* Active / clicked link */
.topnav a:active {
    background-color: #5a86c3; /* blueish color */
    color: white;
}

/* Currently active page */
.topnav a.active {
    background-color: #5a86c3;
    color: white;
    /* Logo inside the navbar */
.topnav a.logo img {
    height: 40px;         /* adjust size */
    vertical-align: middle; /* aligns with links */
    padding: 5px 10px;    /* spacing around logo */
}

}
